

  <div class="container-fluid">
    <div class="row ">

      <nav class=" d-flex justify-content-center mt-4 px-md-4 col-md-5 col-lg-3 d-md-block border-right">
        <div class=" pt-3">
          <!-- two line list -->  
          <ul>
            <h2>CATEGORIE</h2>
            <li>
              Riscaldamento
              <ul>
                <li>Casa e acqua</li>
                <li>Casa</li>
                <li>Acqua</li>
              </ul> 
            </li>
          </ul>

          <mat-divider></mat-divider>

          
          <div *ngFor="let typeFilter of allFilters" class="pl-5">
            <h6 class=".text-macro-cat-menu mt-3">{{ typeFilter.type}}</h6>
            <div *ngFor="let filter of typeFilter.filters" class="filter-type-end">
              <mat-checkbox
              class="mt-2"
              [(ngModel)]="filter.checked"
              [checked]="filter.checked"
              color = "primary"
              [(indeterminate)]="filter.indeterminate"
              [labelPosition]="filter.labelPosition"
              [disabled]="filter.disabled"
              (change)="setAll($event.checked, filter)"
            >
              <span  [class]="filter.checked ? 'checked-text' : 'unchecked-text' "> {{ filter.span }}  ({{filter.numberOf}})</span>
            </mat-checkbox>
            </div>
          </div>
          




        </div>
      </nav>
      
      <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4">

        <div class="d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let product of products">
                <app-product
                  [product]="product"
                  (notify)="onNotify($event)"
                  >
                  </app-product>  
              </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3 pt-3 pb-2 mb-3 border-top">
          <button mat-icon-button >
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
            
      </main>
    </div>
  </div>
  <app-compare-banner *ngIf="showCompareBanner" [productsToCompare]="productsToCompare"></app-compare-banner>









                      
          


          








